// import the global styles
@import '../../globals';

.EventPage {
    text-align: center;
    
    h1{
        color: $google_green;
        text-align: center;
    }

    .section-head{
        text-align: left;
        font-weight:normal;
        color: $text_gray;
        text-align: left;
    }

    .EventCard{
        display: inline-block;
        margin: 5%;
        margin-left: 0%;
        margin-bottom: 0%;
    }
}

// Upcoming events section
.EventPage .upcoming{
    align-items: center;
    width: 80%;
    margin: auto;

    @media screen and (max-width: $mobile-size) {
        flex-direction: column;
        width: 95%;
    }

}
// Event box styling
.EventPage .upcoming .event-box{
    border: 1px solid $google_green;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 250px;

    // styles for mobile
    @media screen and (max-width: $mobile-size) {
        flex-direction: column;
        width: 100%;
    }

    .left{
        flex: 1;
        justify-content: center;
        text-align: center;
        margin: 2.5%;
        margin-right: 0%;
    }

    .right{
        flex: 1;
        text-align: center;
        margin: 5%;

        h2{
            text-align: center;
            font-weight: bold;
        }

        h4{
            color: $google_green;
            font-weight: bold;
        }

        p{
            color: $text_gray;
        }
    }
}

// Previous events section
.EventPage .previous{
    width: 80%;
    margin: auto;
    text-align: left;
    
    .EventCard{
        opacity: 0.4;
        filter: alpha(opacity=40);
    }
    // styling on hover
    .EventCard:hover{
        opacity: 1;
        filter: alpha(opacity=100 );
    }
    // styles for mobile
    @media screen and (max-width: $mobile-size) {
        text-align: center;
        flex-direction: column;
        width: 95%;

        .EventCard{
            margin: 10%;
            margin-bottom: 0%;
        }

    }

    
}

.EventPage .community{
    background: $background_gray;
    padding: 30px;
    margin-top: 100px;

    #gdsc-page{
        color: $google_green;
        text-align: center;
    }

}