// import the global styles
@import '../../globals';

.HomePage {
	text-align: center;
	min-height: 100%;
}

// header section
.HomePage .cover-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.HomePage .hero {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;

	// styles for when the website is being displayed on mobile (media queries)
	@media screen and (max-width: $mobile-size) {
		flex-direction: column;
		width: 100%;
	}

	.left {
		width: 100%;
		text-align: right;

		// styles for when the website is being displayed on mobile (media queries)
		@media screen and (max-width: $mobile-size) {
			text-align: center;
		}
	}

	.right {
		width: 100%;
		text-align: center;
	}

	.left #hero-img {
		width: 90%;

		// styles for when the website is being displayed on mobile
		@media screen and (max-width: $mobile-size) {
			width: 70%;
		}
	}

	.right #gdsc-logo {
		width: 100px;
		// styles for when the website is being displayed on mobile
		@media screen and (max-width: $mobile-size) {
			display: none;
		}
	}

	.right h2 {
		color: $text_black;
		font-weight: bold;
	}

	.right h4 {
		color: $text_gray;
		font-weight: bold;
	}
}

.HomePage #down-arr {
	width: 60px;
	opacity: 0.6;
	margin-top: 5em;
}
// end of header section

// about section
// Note you can nest styles in scss
.HomePage .about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	#title {
		color: $google_blue;
		font-weight: bold;
	}

	iframe {
		width: 40%;
		height: 315px;

		// styles for when the website is being displayed on mobile
		@media screen and (max-width: 830px) {
			width: 80%;
		}
	}

	#text {
		color: $text_gray;
		font-weight: bold;
		padding: 20px;
	}
}

.HomePage .cta {
	background: $background_gray;
	padding: 30px;
	margin-top: 100px;
	margin-bottom: 50px;

	#link {
		color: $google_red;
	}
}

.HomePage .more {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	// styles for when the website is being displayed on mobile
	@media screen and (max-width: $mobile-size) {
		flex-direction: column;
	}

	#title {
		color: $text_gray;
		padding: 30px;
	}

	iframe {
		padding: 30px;
	}
}
