//  Importing global Scss styles
 @import '../../globals';

 .RegistrationPage{
    text-align: center;
    min-height: 100%;
}

//  Heading of the page
.RegistrationPage h2{
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    color: $google_green;
}
// Subheading of the page
.sub {
    padding-top: 15px;
    text-align: center;
    font-weight: normal;
    color: $text_black;
    // Style for when the subheading is viewed on mobile
    @media screen and (max-width: $mobile-size) {
        margin: auto;
        padding: 10px;
       }
    
}

// Subheading for the first step 
.subHead h3{
    padding-top: 5%;
    text-align: center;
    font-size: 25px;
    color: $google_blue;
    font-weight: bold;
}

// Paragraph for each step
#text{
    padding-top: 1.2%;
   display: flex;
   margin: 20px auto;
   width: 25%;
   text-align: center;
   color: $text_gray;
//    Style for when the paragraph is viewed on mobile
   @media screen and (max-width: $mobile-size) {
    width: 70%;
   }
}

.link{
    text-align: center;
}

.arrow{
    padding: 5%;
    text-align: center;
    opacity: 0.7;
}

// Styling for the second and third subheading
.subHead2 h3{
    margin: 2%;
    text-align: center;
    font-size: 25px;
    color: $google_blue;
    font-weight: bold;
}

.dot{
    padding-right: 15px;
}

.subHead img{
    text-align: center;
}

.subHead3 h3{
    padding-bottom: 5%;
    text-align: center;
    font-size: 25px;
    color: $google_blue;
    font-weight: bold;
}

