//  Importing global Scss styles
 @import '../../globals';

//  Heading of the page
.RegistrationPage {

    h2{
        padding-top: 50px;
        text-align: center;
        font-weight: bold;
        color: $google_green;

}
    // Subheading of the page
    .sub {
        padding-top: 15px;
        text-align: center;
        font-weight: normal;
        color: $text_black;
        // Style for when the subheading is viewed on mobile
        @media screen and (max-width: $mobile-size) {
            margin: auto;
            padding: 10px;
        }
    
    }
}
    
// Subheading for the first step 
.RegistrationPage .subHead {
    padding-top: 5%;
    text-align: center;
    color: $google_blue;
    font-weight: bold;
    
}

.RegistrationPage .subHead h3{
    font-weight: bold;
}

// Paragraph for each step
.RegistrationPage  #text{
   display: flex;
   margin: 20px auto;
   width: 25%;
   font-weight: normal;
   text-align: center;
   color: $text_gray;
//    Style for when the paragraph is viewed on mobile
   @media screen and (max-width: $mobile-size) {
    width: 70%;
   }
}

.RegistrationPage a{
    text-align: center;
    font-weight: bold;
}

.RegistrationPage #down-arr{
    padding-top: 20px;
   text-align: center;
   opacity: 0.7;
}

.RegistrationPage #dot{
    padding-right: 15px;
}

.RegistrationPage #emoji{
    width: 32px;
    margin: 5px;
}



