@import '../../globals';

.EventCard{
    position: relative;
    text-align: center;
    color: white;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EventCard img{
    max-height: auto;
    max-width: 100%;
}

.EventCard #title{
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: content;
}