@import '../../globals';

/* CSS */
.PrimaryButton {
	border-radius: 4px;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.15;
	overflow: visible;
	padding: 10px 25px;
	text-align: center;
	transition: all 80ms ease-in-out;
}

.PrimaryButton.blue {
	background-color: $google_blue;
	border: 1px solid $google_blue;
}

.PrimaryButton.green {
	background-color: $google_green;
	border: 1px solid $google_green;
}

.PrimaryButton.red {
	background-color: $google_red;
	border: 1px solid $google_red;
}

.PrimaryButton:hover {
	opacity: 0.8;
}

.PrimaryButton:focus {
	outline: 0;
}
