// import the global styles
@import '../../globals';

.ProjectCard{
    min-width: 15em;
    min-height: 12em;
    border: 1px solid $google_blue_light;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

    img{
        width: 5em;
        margin-bottom: 10px;
    }

    h3{
        color: $text_gray;
        font-weight: bold;
        display: inline;
    }

    .techlist{
        max-width: 100%;
        display: flex;
        overflow-x: auto;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
    }

    .techlist::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }

    span{
        background: $google_blue_light;
        color: white;
        border-radius: 15px;
        padding: 2px 5px;
        margin-right: 5px;
    }

}