// GLOBAL STYLES TO BE APPLIED TO EVERY PAGE
// import using @import '../../globals'; in your scss file

// COLOR VARIABLES
$google_blue: #4285F4;
$google_blue_light: #9FC1F9;
$google_green: #0F9D58;
$google_yellow: #FBBC04;
$google_red: #EA4335;
$text_gray: #9b9b9b;
$text_black: #000629;
$text_white: #FFFFFF;
$background_gray: #dddddd;

// The Max screen size the website recognizes as a mobile device
$mobile-size: 700px;
// research responsive design and media queries

// GOOGLE SANS FONT
@font-face {
    font-family: 'Google Sans';
    src: url(./fonts/googlesans-regular.woff) format('woff');
}
@font-face {
    font-family: 'Google Sans';
    src: url(./fonts/googlesans-bold.woff) format('woff');
    font-weight: bold;
}

// BASE STYLES
#root, html{
    height: 100vh;
    scroll-behavior: smooth; //makes internal links scroll instead of jump to the element
}
body {
    margin: 0;
    height: 100%;
    font-family: 'Google Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    
