// GLOBAL STYLES TO BE APPLIED TO EVERY PAGE
// import using @import '../../globals'; in your scss file

// COLOR VARIABLES
$google_blue: #4285F4;
$google_green: #0F9D58;
$google_yellow: #FBBC04;
$google_red: #EA4335;
$text_gray: #C8C8C8;
$text_black: #000629;

// BASE STYLES
#root, html{
    height: 100vh;
    scroll-behavior: smooth; //makes internal links scroll instead of jump to the element
}
body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    
